__pycache__/
output/nontn7/systems-with-or-without-crispr-arrays/all/cas9.afa
output/nontn7/minimal-composite-with-arrays.csv.gz
output/nontn7/minimal-composite.csv.gz
output/nontn7/minimal-tn3-with-arrays.csv.gz
output/nontn7/minimal-tn3.csv.gz
output/nontn7/minimal_passing_systems.csv.gz
output/nontn7/minimal_passing_systems_with_crispr_arrays.csv.gz
