__pycache__/

output/nontn7/minimal-composite-with-arrays.csv.gz
output/nontn7/minimal-composite.csv.gz
output/nontn7/minimal-tn3-with-arrays.csv.gz
output/nontn7/minimal-tn3.csv.gz
output/nontn7/minimal_passing_systems.csv.gz
output/nontn7/minimal_passing_systems_with_crispr_arrays.csv.gz
output/nontn7/*/*/*.clusters/
output/nontn7/*/*/*.nuclease_dead_clusters/
output/nontn7/**/*.fasta
output/nontn7/**/*.tsv
output/nontn7/**/*.afa
output/nontn7/**/*.mafft_strategy
output/nontn7/**/*.nuclease_dead.csv.gz
output/nontn7/**/*.residues.csv
output/nontn7/**/*.afa.stderr
output/nontn7/systems-with-crispr-arrays/all/*.csv.gz
output/nontn7/systems-with-crispr-arrays/composite/*.csv.gz
output/nontn7/systems-with-crispr-arrays/tn3/*.csv.gz
output/nontn7/systems-with-or-without-crispr-arrays/all/*.csv.gz
output/nontn7/systems-with-or-without-crispr-arrays/composite/*.csv.gz
output/nontn7/systems-with-or-without-crispr-arrays/tn3/*.csv.gz
